body {
    padding: 50px 0 50px 0;
}

.form-box {
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 80%;
    border: 0.5px solid #000000;
}

.l {
    margin-left: 90px;
}

.form-box  p {
    font-size: 12px;
    margin: 0;
    padding: 0 0 18px 5px;
}

input[type="checkbox"]{
  width: 10px; /*Desired width*/
  height: 10px; /*Desired height*/
  margin-left: 50px;
}

input[type="submit"]{

}

.hr-line {
    border-bottom: 0.5px solid #000000;
}

.first-box {
    border-right: 0.5px solid #000000;
}

.second-box {
    border-left: 0.5px solid #000000;
}

.line-ht {
    line-height: 10px;
    padding-left: 10px;
}